<!DOCTYPE html
		PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<head>
	<title>标注图片</title>
	<script type="text/javascript">this.im || (this.im={});</script>
	<script src="../../../static/script/toolkit.js" type="text/javascript"></script>
	<script src="../../../static/script/module_clip.js" type="text/javascript"></script>
	<script src="../../../static/script/module_dialog.js" type="text/javascript"></script>
	<script src="../../../static/script/module_workspace.js" type="text/javascript"></script>
	<script src="../../../static/script/init.js" type="text/javascript"></script>
	<link rel="stylesheet" href="../../../static/style/im.css"/>
</head>
<body>
	<div id="mian" class="box">
		<div id="header">
			<h1>标注图片<sub>1.8</sub> <a id="help" href="help/D20120417图集信息标注功能使用说明Ver1.5.htm" target="_blank">帮助</a></h1>
			<span id="pages"> </span>
			<input type="button" value=" 完成并发布 " id="postPhoto" />
			<input type="button" value=" 完成 " id="done" />
		</div>
		<div id="imageMarker">
			<img src="../../../static/images/add.png" id="addInfo" />
			<div id="container"></div>
		</div>
		<div id="info"></div>
	</div>
	<div id="copyright" class="box">
		&copy; 2012 163
	</div>
	<div id="information">
		<h5><span id="cancel"></span></h5>
		<!--<form style="display: none;">

	        <p><label>标题 ：</label><input name="title" type="text" maxlength="112" pattern="^(?=\S)(.*)[\S]+$" required=" required"  placeholder="1-112个字(必须)" autocompalete="off" size="30" /> * </p>
	        <p><label>描述 ：</label><textarea name="desc" maxlength="112" placeholder="输入112个描述文字"></textarea></p>
	        <p><label>链接 ：</label><input name="link" type="url" maxlength="200" placeholder="http://www.163.com/"  size="30" /></p>
	        <p><label> </label><input type="button" id="removeInfo" value="  删除  " /> <input type="submit" value="  保存  " id="saveAs"  /></p>
	    </form>-->

	   	<iframe src="includ/data_form.html" name="markForm" id="markForm" height="300"  width="400" frameborder="0"></iframe>
	</div>
</body>
</html>
		<!--
		    *1.8
		        1.修正了form项不能鼠标定位问题
		        2.数据操作改为在iframe中进行
		        3.禁用了拖拽选择文字，减少绘制标注框时误操作导致图片选中变蓝。
		        4.数据传送方式改为location.hash(原为lacation.href),避免页面跳转。
			*1.7
				1.大幅改进UI交互，
				2.增加css3过渡动画
				3.增加图说编辑框拖拽功能
		    *1.6
		        1.改进UI、交互，
		        2.增加页码、图片名称、帮助
		    *1.5 增加图说功能

		-->