/* ==========cssreset==========*/
html { overflow-y: scroll; -moz-user-select : none; }
body { font:12px/20px "微软雅黑","黑体", "宋体"; color:#444; background: white;
	min-width: 900px;
	min-height: 100%;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-op-user-select: none;
	user-select: none;
}
*{ padding:0; margin:0; font-style: normal; list-style: none; }
a  { text-decoration:none; color: #000; }
a:visited { color: #C39; }
a:hover{ color:red; text-decoration:underline; }
a img { border:none;}
table { border-collapse:collapse;}
textarea { resize: none; font:14px/20px "微软雅黑","黑体", "宋体"; }
/*input[type='text'],input[type='url'],input[type='number'],input[type='range'],input[type='file'], textarea { border:solid 1px #ccc; padding:2px; border-radius:3px; }
input[type='file'] { border:none; }
input[type='radio'] { vertical-align: middle; }
input[type='text']:focus,textarea:focus,input[type='url']:focus,input[type='number']:focus,input[type='range']:focus { border-color:#4D90FE; box-shadow:0px 0px 10px #4D90FE; }*/
textarea { border:solid 1px #ccc; padding:2px; border-radius:3px; }
textarea:focus { border-color:#4D90FE; box-shadow:0px 0px 5px #4D90FE; -moz-transition: all 0.8s linear
; }
input { font-family: "微软雅黑";}
.box { width:920px; clear:both; margin:0 auto 10px; }
/* ==========cssreset========== */
/*body { background: #eee; }
#mian { background: white; padding: 0 10px; }*/
footer { text-align: center; }
#info { line-height: 20px; padding: 10px; background: whitesmoke; margin: 10px 0; border-radius: 5px; box-shadow: 2px 2px 5px #ddd; border: solid 1px #ccc; box-shadow: 0 12px 15px #eee inset; font-size: 14px;  }
#info:hover { -moz-transition: all 0.2s linear; text-shadow: 2px 2px 2px skyblue; }
#container { min-height: 100px; background: url(/images/loader.gif) no-repeat center center; box-shadow: 4px 4px 20px black; position: relative; margin: 0 auto; }

#container:hover { box-shadow: 4px 4px 20px #4D90FE; -moz-transition: all 0.2s linear; }
#container>div { position: absolute; }
#container img { opacity: 0; }
/*#container img { position: absolute;}*/
.Area { border: dashed 1px #444; position: absolute; background: rgba(238,238,238,0.6) url(/images/o.png)
no-repeat center center; }
#imageMarker { border: solid 1px #eee; border-radius: 5px; padding: 10px 0; position: relative; }
.Area b { position: absolute; width: 2px; height: 2px; display: inline-block; border: solid 1px #444;
	border-radius: 1px; overflow: hidden; background: #999; }
.Area b:hover { background-color: #4D90FE;  }
#pages { font-size: 18px;/* background: black; border-radius: 5px; color: white; padding: 5px 10px; box-shadow:
			2px 2px 2px #ccc;*/  }
#pages b { font-size: 20px; font-weight: normal; color: red; }
#copyright { text-align: center; }
#header { line-height: 40px; height: 40px; text-align: center; border-bottom: 2px solid black; background:
	#F2F2F2; margin-bottom: 10px; padding: 0 5px; }
#header h1 { float: left; }
#header h1:hover { -moz-transition: all 0.2s linear; text-shadow: 2px 2px 2px skyblue; }
#header h1 sub { font-weight: normal; font-size: 12px; }
#information { opacity: 0.9; width: 280px; height: 230px; border-radius: 5px; border:  solid 1px #ccc; overflow: hidden; padding: 10px 10px 0 10px; background: whitesmoke; box-shadow: 4px 4px 10px #999; display: none; right: -320px; position: absolute; z-index: 200; }
#information p { line-height: 30px; margin-bottom: 10px;  }
#information input { line-height: 24px; height: 24px; vertical-align: middle; z-index:3000;  }
#information label { line-height: 24px; height: 24px; width: 40px; display: inline-block; vertical-align: top; }
#information textarea { height: 80px; width: 220px; }
#information h5 { text-align: right; }
#information h5 span { font-size: 14px; cursor: pointer; }
.placeholder { border: dashed 1px #444; background: #fff; opacity: .6; filter:alpha(opacity=60);  }


#postPhoto , #done { background:#DE1010; color: white; padding: 5px 30px; float: right; margin-top: 4px;
	font-size: 14px; font-weight: bold;	border-radius: 5px 5px 5px 5px; border: solid 2px #DE1010; cursor:
	pointer; margin-left: 5px;  }
#postPhoto:hover , #done:hover { background: white ; color: #DE1010 ; -moz-transition: all 0.2s linear; }
#addInfo { position: absolute; right:-45px; cursor: pointer; display: none;  }
#addInfo:hover { -moz-transition: all 0.2s linear; -moz-transform: rotate(-10deg) scale(1.2); }
.dialog { padding: 10px; /*box-shadow: 0 0 50px #999;*/ border: 1px solid #4D90FE; }
.dialog h3 { margin-bottom: 10px; border-bottom: 2px solid #CCCCCC; background: #eee; padding: 3px; position: relative; }
.dialog h3:hover { border-bottom: 2px solid black; background: #f2f2f2; }
.dialog h3 b { background: url('/images/cancel.png') no-repeat 0 0; height: 16px; width: 16px; right: 6px;
	top:6px; }

.dialog h3 b:hover { -moz-transition: all 0.2s linear; -moz-transform: rotate(180deg) scale(1.1); }
.dialogContainer textarea { height: 60px; width: 460px; }
#infoWait { vertical-align: middle; }

.infoPreviewTop , .infoPreviewBottom { opacity: 0; font-size: 24px; left:0; position: absolute; width: 98%;
	color: #ffffff; padding:10px; line-height: 28px; text-shadow: 2px 2px 1px #000000; }
.infoPreviewTop {
	filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=black,endcolorstr=000,gradientType=1);

	background: -webkit-linear-gradient(to bottom, #000000, rgba(0, 0, 0, 0.7) 20%, rgba(0, 0, 0, 0.5) 50%, transparent) repeat scroll 0 0 transparent;
	background: -moz-linear-gradient(to bottom, #000000, rgba(0, 0, 0, 0.7) 20%, rgba(0, 0, 0, 0.5) 50%, transparent) repeat scroll 0 0 transparent;
	background: -o-linear-gradient(to bottom, #000000, rgba(0, 0, 0, 0.7) 20%, rgba(0, 0, 0, 0.5) 50%, transparent) repeat scroll 0 0 transparent;
	background: -ms-linear-gradient(to bottom, #000000, rgba(0, 0, 0, 0.7) 20%, rgba(0, 0, 0, 0.5) 50%, transparent) repeat scroll 0 0 transparent;
	background: linear-gradient(to bottom, #000000, rgba(0, 0, 0, 0.7) 20%, rgba(0, 0, 0, 0.5) 50%, transparent) repeat scroll 0 0 transparent;
	top: 0;
}
.infoPreviewBottom {
	filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=000,endcolorstr=black,gradientType=1);

	background: -webkit-linear-gradient(to top, #000000, rgba(0, 0, 0, 0.7) 20%, rgba(0, 0, 0, 0.5) 50%, transparent) repeat scroll 0 0 transparent;
	background: -moz-linear-gradient(to top, #000000, rgba(0, 0, 0, 0.7) 20%, rgba(0, 0, 0, 0.5) 50%, transparent) repeat scroll 0 0 transparent;
	background: -o-linear-gradient(to top, #000000, rgba(0, 0, 0, 0.7) 20%, rgba(0, 0, 0, 0.5) 50%, transparent) repeat scroll 0 0 transparent;
	background: -ms-linear-gradient(to top, #000000, rgba(0, 0, 0, 0.7) 20%, rgba(0, 0, 0, 0.5) 50%, transparent) repeat scroll 0 0 transparent;
	background: linear-gradient(to top, #000000, rgba(0, 0, 0, 0.7) 20%, rgba(0, 0, 0, 0.5) 50%, transparent) repeat scroll 0 0 transparent;
	bottom: 0;
}
.dialog h3:hover { cursor: move; }
#help { font-size: 12px; color: black; text-decoration:underline; }
#help:visited { font-size: 12px; color: black; text-decoration:underline; }
.dialogContainer input[type='button']{ cursor : pointer; border: #444444 solid 1px;
	border-radius: 3px 3px 3px 3px;
	cursor: pointer;
}
#infoSave { background: #DE1010; color: white;  width: 60px; }
#infoSave:hover { background: white ; color: #DE1010 ; -moz-transition: all 0.2s linear; }
#cancel { background: url('/images/cancel.png') no-repeat 0 0; height: 16px; width: 16px; display: inline-block; }
/*#cancel:hover { -moz-transition: all 0.2s linear; -moz-transform: rotate(180deg) scale(1.1); }*/